<h1>DEMO - Not secured by CUWebLogin</h1>

<img src="images/fake_CUWebLogin.png" style="border:solid black 2px">

<p>
  This is a demonstration site, and not secured by CUWebLogin.
</p>
<p>
  To continue with the demonstration, enter the NetID you want to use, and the site password.
</p>

<form action="." method="get">
  <input type="hidden" name="targetUrl" value="{{targetUrl}}">
  <p> 
    NetID: <input type="text" name="fakeNetid">
  </p>
  <p>  
    Site password: <input type="text" name="sitePassword">
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>

{% if (not empty(message)) %}
<p style="background-color: #FF8888">
  {{message}}
</p>
{% endif %}
