<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

 	<listener>
		<listener-class>edu.cornell.library.scholars.orcidconnection.startup.WebappSetup</listener-class>
	</listener>

<!-- 	<servlet>
		<servlet-name>mainServlet</servlet-name>
		<servlet-class>edu.cornell.library.orcidclient.testwebapp.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 -->
<!-- 	<servlet>
		<servlet-name>callbackServlet</servlet-name>
		<servlet-class>edu.cornell.library.orcidclient.testwebapp.CallbackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>callbackServlet</servlet-name>
		<url-pattern>/callback/*</url-pattern>
	</servlet-mapping>
 -->
</web-app>
